body {
  background-color: #99b2dd;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

h1 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: bold;
  font-size: 64px;
  text-align: center;
  color: #2e508a;
}

.diff-btn-container {
  display: flex;
  padding-left: 37%;
  padding-right: 37%;
}

.button {
  background-color: #e0e8f5;
  color: #325a9a;
  height: 50px;
  flex: 1;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  border: 2px rgb(0, 0, 0) solid;
  border-radius: 50px;
  margin-right: 25px;
  margin-left: 25px;
}

table {
  margin: auto;
  margin-top: 200px;
}

td {
  font-size: large;
  border: 2px solid #14243e;
  border-radius: 10px;
  cursor: pointer;
}

.board-container {
  width: 300px;
  height: 100px;
  margin-left: 880px;
  margin-top: 100px;
}

.cell {
  width: 50px;
  height: 50px;
  text-align: center;
  /* font-size: 1.5em; */
  background-color: rgb(37, 31, 31);
  border: 1px black solid;
  background-color: antiquewhite;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.hidden-cell {
  width: 100px;
  height: 70px;
  background-color: #2a4980;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.mine-cell {
  background-color: #d3614a;
  text-align: center;
  cursor: pointer;
}

.num-cell {
  color: #d3614a;
  background-color: #f9dec9;
  text-align: center;
  cursor: pointer;
  font-size: x-large;
}

footer {
  bottom: 5%;
  left: 770px;
  position: absolute;
  color: #2e508a;
}
